<h1>Login de unidades</h1>
<br>
<br>
<br>
<br>
<br>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <label>E-mail unidade: </label>
        <input placeholder="unidade@xxxx.com" type="email" id="email" formControlName="email" required maxlength="100" email>
    </div>

    <div>
        <label> Senha: </label>
        <input type="text" id="senha" formControlName="senha" required minlength="7">
    </div>

    <br>
    <br>

    <div>
        <button type="submit" [routerLink] = "['/']" [disabled]="loginForm.invalid"> Acessar </button>
    </div>

</form>
