.mt-5{
    margin-top: 3rem;
}

body {
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: -webkit-linear-gradient(60deg, rgb(99, 99, 233), rgb(0, 217, 255), rgb(99, 99, 233));
    cursor: pointer; 
}