<h1>Nova Unidade</h1>
    <form [formGroup] = "checkoutForm"  (ngSubmit)="onSubmit(checkoutForm.value, checkoutFormAdress.value )">
        <div>
            <label>Nome:</label>
            <input type="text" id= "nome" formControlName='nome' required maxlength="100">
        </div>
        <div>
        <label> Telefone: </label>
            <input type="number" id= "telefone" formControlName='telefone' required maxlength="100">
        </div>
        <div>
        <label> E-mail: </label>
        <input type="text" id= "email" formControlName='email' required maxlength="100">
        </div>
        <div>
            <label> Paciente: </label>
            <select formControlName="pacientes" id="paciente">
                <option value="" selected>  Selecione....  </option>
                <option *ngFor="let paciente of paciente" [value]="paciente._id">{{paciente.nome}}</option>
            </select>
        </div>
        <h2>Endereço</h2>
        <div [formGroup] = "checkoutFormAdress">
            <label> Rua: </label>
            <input type="text" id= "rua" formControlName='rua' required minlength="1" maxlength="100" >
            <label> Número: </label>
            <input type="number" id= "numero" formControlName='numero' required minlength="1" maxlength="100">
        </div>
        <div [formGroup] = "checkoutFormAdress">
            <label> Bairro: </label>
            <input type="text" id= "bairro" formControlName='bairro' required minlength="1" maxlength="100">
            <label> Cidade: </label>
            <input type="text" id= "cidade" formControlName='cidade' requerid minlength="1" maxlength="100">
        </div>
        <div>
            <label> Quantidade atendimento: </label>
            <input type="number" id= "qtd_atendimento" formControlName='qtd_atendimento' maxlength="100">
        </div>
            <div>
                <label> Quantidade resultado positivo: </label>
                <input type="number" id= "qtd_resultado_positivo" formControlName='qtd_resultado_positivo' maxlength="100">
            </div>
                <div>
                    <label> Quantidade resultado negativo: </label>
                    <input type="number" id= "qtd_resultado_negativo" formControlName='qtd_resultado_negativo' maxlength="100">
                </div>
                    <div>
                        <label> Quantidade paciente: </label>
                        <input type="number" id= "qtd_paciente" formControlName='qtd_paciente' maxlength="100">
                    </div>
                    <div>
                        <button  [routerLink] = "['/cadastroAtendimento']"> Cadastrar Atendimento</button>
                        <button type="submit" [disabled]="checkoutForm.invalid"> Cadastrar Unidade </button>
                    </div>
    </form>
