<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<h1>Dados Gerais em Porto Alegre</h1>
<div>
   <h2>Total de óbitos acumulados</h2>
   <google-chart #chart
      [type]="type"
      [data]="data"
      [options]="options"
      [width]="width"
      [height]="height">
   </google-chart>
</div>
<div>
   <h2>Ocupações em leitos de UTI</h2>
   <google-chart #chart
      [type]="type_leitos"
      [data]="data_leitos"
      [options]="options_leitos"
      [width]="width_leitos"
      [height]="height_leitos">>
   </google-chart>
</div>
