h1 {
    color: white;
    font-size: 30px;
    font-style: italic;
    text-shadow: 3px 3px black;
}

h2 {
    margin-top: 80px;
    background-color:rgb(53, 76, 207);
    border: none;
    padding: 5px;
    color: white;
    border-radius: 30px;
    font-weight: 40;
    cursor: pointer; 
    height:30%; 
    width: 40%;
    text-indent: center;
    border-radius: 30px;
    font-style: italic;
    font-size: large;
}
google-chart {
    text-indent: center;
}

div {
    display: table-cell;
}

