h1 {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 5em;
    text-shadow: 3px 5px black;
    margin-top: -46px;
}

h2 {
    color: white;
    font-size: 20px;
    font-style: italic;
    margin-top: -55px;
}

h3 {
    margin-top: 40px;
    background-color:rgb(53, 76, 207);
    border: none;
    padding: 5px;
    color: white;
    border-radius: 30px;
    font-weight: 40;
    cursor: pointer; 
    height:30%;
    text-align: left; 
    width: 20%;
    text-indent: center;
    border-radius: 30px;
    font-style: italic;
    font-size: large;
}

ul {
    display: table-cell;
    text-align: left;
    font-style: italic;
}

button {
    background-color:rgb(53, 76, 207);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 30px;
    cursor: pointer; 
    width: 15%;
    margin:1%;
    text-indent: center;
    border-radius: 30px;
    font-style: italic;
    font-size: inherit;
}