<div>
    <h1 class="title animated fadeInDown">Covid-19</h1>
    <h2>Compartilhando Informações</h2>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <div>
        <h3>Tipos de Testes</h3>
        <ul>
            <li>
                <b>Teste Rápido IgG e IgM:</b>
                A vantagem do teste IgG e IgM é a obtenção de resultados rápidos para a decisão da conduta. 
                O exame identifica se a pessoa já entrou em contato e se está com o vírus. É realizado através 
                da coleta de uma gota de sangue (picada na ponta do dedo do paciente) para análise e laudo na hora.
            </li>
        </ul>
        <ul>
            <li>
                <b>Sorologia:</b>
                Verifica a resposta imunológica do corpo em relação ao vírus, a partir da detecção de anticorpos 
                IgA, IgM e IgG em pessoas que foram expostas ao SARS-CoV-2. Para que o teste tenha maior sensibilidade, 
                é recomendado que seja realizado, pelo menos, 10 dias após o início dos sintomas, porque a produção de 
                anticorpos no organismo só ocorre depois de um período mínimo de exposição ao vírus. A coleta do material 
                para análise consiste em uma amostra de sangue do paciente.
            </li>
        </ul>   
        <ul>
            <li>
                <b>RT-PCR:</b>
                Este exame constata se o vírus está ativo no organismo. O RT-PCR (do inglês reverse-transcriptase polymerase chain reaction), 
                é considerado o padrão-ouro no diagnóstico da Covid-19, cuja confirmação é obtida através da detecção do RNA do SARS-CoV-2 na
                amostra analisada. A coleta de material é obtida através da raspagem da nasofaringe.
            </li>
        </ul>   
    </div>
    <img [src]="imagePath">
    <div>
        <button [routerLink] = "['/data']">Dados gerais</button>
        <button [routerLink] = "['/visalizarUnidade']">Ver Unidades</button>
        <button [routerLink] = "['/cadastroUnidade']">Cadastrar</button>
        <button [routerLink] = "['/login']">Login</button>
    </div>
</div>
            