<h1>Selecione uma unidade</h1>
<div>
    <mat-form-field appearance="fill">
        <mat-label>Unidade</mat-label>
        <mat-select [(ngModel)]="selectedUnidade" (selectionChange) = "getSelectedUnity($event)">
          <mat-option value="" selected> Selecione </mat-option>
          <mat-option *ngFor = "let unidade of unidade" [value]="unidade.nome">{{ unidade.nome }}</mat-option>
        </mat-select>
      </mat-form-field>
</div>

<table *ngIf = "selectedUnidade" mat-table [dataSource] = "unidadeCarregada" class = "mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Nome Column -->
    <ng-container matColumnDef = "nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef = "let element"> {{element.nome}} </td>
    </ng-container>
  
    <!-- Quantidade Paciente Column -->
    <ng-container matColumnDef = "quantidade_Paciente">
      <th mat-header-cell *matHeaderCellDef> Quantidade paciente </th>
      <td mat-cell *matCellDef = "let element"> {{element.qtd_paciente}} </td>
    </ng-container>

    <!-- Quantidade Atendimento Column -->
    <ng-container matColumnDef = "qtd_atendimento">
        <th mat-header-cell *matHeaderCellDef> Quantidade atendimento </th>
        <td mat-cell *matCellDef = "let element"> {{element.qtd_atendimento}} </td>
      </ng-container>

         <!-- Quantidade Resultado positivo Column -->
    <ng-container matColumnDef = "qtd_resultado_positivo">
        <th mat-header-cell *matHeaderCellDef> Quantidade resultado positvo </th>
        <td mat-cell *matCellDef = "let element"> {{element.qtd_resultado_positivo}} </td>
      </ng-container>

          <!-- Quantidade Resultado negativo Column -->
    <ng-container matColumnDef = "qtd_resultado_negativo">
        <th mat-header-cell *matHeaderCellDef> Quantidade resultado negativo </th>
        <td mat-cell *matCellDef = "let element"> {{element.qtd_resultado_negativo}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>




