table {
    margin: 0 auto;
    width: 100px;
  }
  h1{
      text-align: center;
  }
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 9px;
    text-align: center;
  }
  table {
    width: 100%;
  }
  th{
    text-align: center;
    color: rgba(6, 6, 46, 0.5);
    font-size: medium;
    align-items: center;
  }
  h1{
    color: white;
    text-align: center;
    font-size: 30px;
}
mat-option, mat-select{
  margin-top: 7%; 
  align-content: center;
  width: 100%;
  height: 50%;
  font-size: medium;
}
