<h1>Registro de novo atendimento</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
    <div>
        <label>Nome do paciente:</label>
        <input type="text" id="nome" formControlName="nome" required maxlength="100">
    </div>

    <div>
        <label> Idade: </label>
        <input placeholder="Anos" type="number" id="idade" formControlName="idade" min=0 required>
    </div>

    <div>
        <label for="pacienteSexo"> Gênero: </label>
        <select [(ngModel)]="selectedGender" formControlName="sexo" id="sexo" required>
            <option value="" selected> Selecione.... </option>
            <option *ngFor="let gender of genders" [value]="gender.value">{{ gender.viewValue }}</option>
        </select>
    </div>

    <div>
        <label> Contágio: </label>
        <select [(ngModel)]="selectedContagio" formControlName="contagio" id="contagio" required>
            <option value="" selected> Selecione.... </option>
            <option *ngFor="let contagio of contagios" [value]="contagio.value">
                {{ contagio.viewValue }}</option>
        </select>
    </div>

    <div *ngIf = "selectedContagio">
        <label> Resultado teste 1: </label>
        <select formControlName="resultadoteste1" id="resultadoteste1">
            <option value="" selected> Selecione.... </option>
            <option *ngFor="let contagio of contagios" [value]="contagio.value">{{ contagio.viewValue }}</option>
        </select>

        <label> Resultado teste 2: </label>
        <select formControlName="resultadoteste2" id="resultadoteste2">
            <option value="" selected> Selecione.... </option>
            <option *ngFor="let contagio of contagios" [value]="contagio.value">{{ contagio.viewValue }}</option>
        </select>
    </div>

    <div>
        <label> Horário de atendimento: </label>
        <p><label><input type="datetime-local" id="horario_atendimento" formControlName="horario_atendimento"></label>
        </p>
    </div>

    <div>
        <label> Horário de saída: </label>
        <p><label><input type="datetime-local" id="horario_saida" formControlName="horario_saida"></label></p>
    </div>

    <div>
        <label>Informações adicionais: </label>
        <textarea placeholder="Ex. O paciente chegou com febre..." id="informacoes_adicionais"
            formControlName="informacoes_adicionais" required maxlength="100"></textarea>
    </div>

    <div>
        <button type="submit" [disabled]="registerForm.invalid"> Registrar Atendimento </button>
    </div>


</form>