h1{
  color: white;
  text-align: center;
  font-size: 30px;
}
h2{
  color:white;
  text-align: center;
}

label{
  padding: 5px;
}

input, select{
  border-radius: 30px;
  border: none;
  width:300px;
  height: 25px;
  padding: 2px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

label{
  text-align: center;
}

button {
  background-color:rgb(53, 76, 207);
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer; 
  width: 30%;
  margin:1%;
  text-indent: center;
  border-radius: 30px;
  font-style: italic;
  font-size: inherit;
  text-align: center;
  margin: 15px 0;
}

textarea{
  border: none;
  width: 300px;
  height: 30px;
}
